---
import experiences from "../collections/experiences.json";
import AboutExperience from "../components/about-experience.astro";
import InteractiveButton from "../components/custom-components/interactive-button.vue";
import PageHeading from "../components/page-heading.astro";
import Layout from "../layouts/main.astro";
---

<Layout title="About Me">
  <section class="relative z-20 max-w-2xl mx-auto my-12 px-7 lg:px-0">
    
   <PageHeading
      title="About Me"
      description="Hello, I'm Saeid Doroudi from Iran, a full-stack web developer.My focus on the .Net ecosystem and VueJs development"
    />
    <div class="relative flex justify-center">
      <img
        src="/assets/images/me.jpg"
        class="relative z-30 w-72 my-10 rounded-full object-cover mx-auto"
        />

        <img src="/assets/images/open-to-work.png" class="absolute z-1 z-40 w-72 my-10 rounded-full object-cover mx-auto" />
    </div>

    <h2 class="mb-2 text-2xl font-bold dark:text-neutral-200">Short Bio</h2>
    <p
      class="text-sm leading-6 text-gray-600 dark:text-neutral-400 sm:leading-7 lg:leading-8 sm:text-base lg:text-lg"
    >
      Software Engineer with more than 15 years experience, .Net Professional
      👨‍💻, Challenge Lover, and FrontEnd enthusiast.
    </p>

    <h2
      class="mt-5 mb-2 text-2xl font-bold lg:mt-10 sm:mt-6 dark:text-neutral-200"
    >
      Experience
    </h2>
    <div class="px-5 py-10">
      {
        experiences.map((experience) => {
          return (
            <div class="pb-10 border-l border-gray-200 last:border-l-0 dark:border-neutral-700">
              <AboutExperience
                dates={experience.dates}
                role={experience.role}
                company={experience.company}
                url={experience.url}
                industry={experience.industry}
                description={experience.description}
                logo={experience.logo}
              />
            </div>
          );
        })
      }
      <InteractiveButton
        text="Download Resume"
        class="w-56"
        link="/assets/files/Saeid_Doroudi_Resume.pdf"
      />
      <h2
        class="mt-5 mb-2 text-2xl font-bold lg:mt-10 sm:mt-6 dark:text-neutral-200"
      >
        Let's Connect
      </h2>
      <p
        class="text-sm leading-6 text-gray-600 dark:text-neutral-400 sm:leading-7 lg:leading-8 sm:text-base lg:text-lg"
      >
        If you want to stay up to date with my work be sure to <a
          href="https://linkedin.com/in/saeid-doroudi"
          target="_blank"
          class="text-green-600 underline">follow me on LinkedIn</a
        >, or you can send me an <a
          href="mailto:doroudi@outlook.com"
          class="text-green-600 underline">email</a
        > and I'll be sure to get back to you.
      </p>
    </div>

    <h2
      class="mt-5 mb-2 text-2xl font-bold lg:mt-10 sm:mt-6 dark:text-neutral-200"
    >
      Certificates
    </h2>

    <div>
      <a href="https://www.credly.com/badges/ec9b480e-d85b-4685-b162-245a678db939/public_url" target="_blank">
        <img alt="IBM AI fundamentals certificate" class="cert" src="/assets/images/certs/cert-1.png" />
      </a>
    </div>
  </section>
</Layout>

<style>
.cert {
  max-width: 450px;
}
</style>